<!-- header -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <div class="">
      <a href="#" class="navbar-brand">Departure</a>
      <!--<div class="navbar-text" id="notificationText">{{notification}}</div>-->
    </div>
  </div>

</div>

<div id="appBody">
  <div id="mapCanvas" class="map"></div>

  <div id="infoBoard">

  </div>

  <div id="controlPanel">
    <button type="button" class="btn btn-primary" id="redoButton">Re-search current area</button>
    <button type="button" class="btn btn-primary" id="clearAllButton">Clear all markers</button>
    <button type="button" class="btn btn-primary" id="hideNoDepaturesStopButton">Hide stops with no departure time</button>
    <button type="button" class="btn btn-primary" id="showNoDepaturesStopButton">Show stops with no departure time</button>
    <!--<input type="text" class="form-control" placeholder="Search" style="margin-bottom: 0;">-->
  </div>
</div>